<ion-header >
  <ion-toolbar color="dark" class="md"> 
  <h1 class="ion-text-center" >Ligas</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row class="header-row">
      <ion-col size="1.5" class="estadistica"><ion-text color="black">#</ion-text></ion-col>
      <ion-col size="6" class="estadistica"><ion-text color="black">EQUIPO</ion-text></ion-col>
      <ion-col size="1.5" class="estadistica"><ion-text color="black">P</ion-text></ion-col>
      <ion-col size="1.5" class="estadistica"><ion-text color="black">DIFF</ion-text></ion-col>
      <ion-col size="1.5" class="estadistica"><ion-text color="black">PTS</ion-text></ion-col>
    </ion-row>
    <ion-row class="data-row">
      <ion-col size="1.5" class="pos ion-margin-top"><div class="circle">1</div></ion-col>
      <ion-col size="6" class="estadistica2">
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <div>
              <img src="../../../assets/images/logo.png" class="escudo" alt="" />
            </div>
          </ion-col>
          <ion-col class="ion-margin-top" size="9">
            <div>Los Alces FC</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1.5" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1.5" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1.5" class="estadistica2 ion-margin-top">2</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1.5" class="pos ion-margin-top"><div class="circle">1</div></ion-col>
      <ion-col size="6" class="estadistica2">
        <ion-row class="ion-justify-content-start">
          <ion-col size="3">
            <div>
              <img
                src="../../../assets/images/logo.png"
                class="escudo"
                alt=""
              />
            </div>
          </ion-col>
          <ion-col class="ion-margin-top" size="9">
            <div>Los Alces FC</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1.5" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1.5" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1.5" class="estadistica2 ion-margin-top">2</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
