ion-content {
    --background: #dccab0;
    --background: linear-gradient(to bottom, #a77d4d, #dccab0);
  }
ion-card{
    --background:#dccab042;
}
p {
    color: #000;
    margin-left: 3vw;
    font-size: 6vw
}