<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mi perfil</ion-title>
  </ion-toolbar>
</ion-header>

<app-loading *ngIf="loading"></app-loading>

<ion-content *ngIf="!loading">
  <ion-item lines="none" class="ion-margin">
  <img
    [src]="

     'http://localhost:3001/imagen/' + usuario.fotografia

"
    [alt]="usuario.nombre"
  />
</ion-item>
  <ion-list>
    <ion-item>
      <ion-text color="ligth">{{usuario.nombre}} {{usuario.apellido}}</ion-text>
    </ion-item>

    <ion-item><ion-text color="ligth">{{usuario.rut}} </ion-text></ion-item>
    <ion-item> <ion-text color="ligth">{{usuario.email}} </ion-text></ion-item>
    <ion-item>
      <ion-text color="ligth">{{usuario.nacionalidad}} </ion-text></ion-item
    >
    <ion-item> {{usuario.telefono}}</ion-item>
  </ion-list>
</ion-content>
