<ion-header>
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center"><h3>Bienvenido al sistema</h3> </ion-text>

  <ion-text class="ion-text-center"
    ><h5>Ultimos 5 partidos de los alces</h5>
  </ion-text>
  <ion-card>
    <ion-card-header>
      <div class="partido-info">
        <div class="logo-container">
          <ion-img src="../../../assets/images/logo.png" class="img"></ion-img>
        </div>
        <div class="goles-container">
          <span>3</span>
          <span class="vs">vs</span>
          <span>2</span>
        </div>
        <div class="logo-container">
          <ion-img src="../../../assets/images/logo.png" class="img"></ion-img>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="fecha">
        <ion-icon name="calendar-outline"></ion-icon> Fecha 1, 23/03/2023
      </div>
      <ion-button expand="block">Mas informacion</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <div class="partido-info">
        <div class="logo-container">
          <ion-img src="../../../assets/images/logo.png" class="img"></ion-img>
        </div>
        <div class="goles-container">
          <span>3</span>
          <span class="vs">vs</span>
          <span>2</span>
        </div>
        <div class="logo-container">
          <ion-img src="../../../assets/images/logo.png" class="img"></ion-img>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="fecha">
        <ion-icon name="calendar-outline"></ion-icon> Fecha 1, 23/03/2023
      </div>
      <ion-button expand="block">Mas informacion</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
