.img {
  width: 40px;
  height: 40px;
}

.partido-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.goles-container {
  display: flex;
  align-items: center;
}

.vs {
  margin: 0 10px;
}

.fecha {
  text-align: center;
  margin-top: 10px;
}

ion-button {
  --background: #b37b3b9d;
  --background-hover: #7e661a9f;
  --background-activated: #7e661a9f;
  --background-focused: #7e661a9f;
}
