ion-input {
  margin-bottom: 10px;
}

.logo {
  height: 250px;
  width: 270px;
  border-radius: 50%;
}

ion-button {
  --background: #b37b3b9d;
  --background-hover: #7e661a9f;
  --background-activated: #7e661a9f;
  --background-focused: #7e661a9f;
}

.white {
  color: white;
}

.seccion2 {
  background-color: #a3815a;
}

.titulo2 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 1px;
}
.descripcion2 {
  color: #ffffff;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
}

.join-club {
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
}
