<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="ligas">
      <ion-icon name="list-outline"></ion-icon>
      Ligas
    </ion-tab-button>
    <ion-tab-button tab="jugadores">
      <ion-icon name="people-outline"></ion-icon>
      Jugadores
    </ion-tab-button>
    <ion-tab-button tab="flujos">
      <ion-icon name="bar-chart-outline"></ion-icon>
      Equipo
    </ion-tab-button>
    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
