ion-content {
  --background: #dccab0;
  --background: linear-gradient(to bottom, #a77d4d, #dccab0);
}
ion-icon {
  margin-right: 5%;
  font-size: 20px;
}
.header {
  height: 45%;
  background: #a77d4dc0;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 20px;
}
.logo {
  height: 90%;
  align-self: center;
}
.div-inicio {
  position: absolute;
  top: 36%;
  left: 4%;
  right: 4%;
}
ion-item {
  margin-bottom: 10%;
}
ion-card {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}
