.pos {
  background: #957f68;
  color: rgb(0, 0, 0);
  text-align: center;
}

.body {
  background: rgba(197, 177, 155, 0.3);
  text-align: center;
}

.pts {
  background: #242424;
  color: white;
  text-align: center;
}

.estadistica {
  text-align: center;
  background: rgba(149, 127, 104, 0.3);
}
.estadistica2 {
  background: rgba(197, 177, 155, 0.3);
  text-align: center;
}
.escudo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
