.pos {
  color: rgb(255, 255, 255);
  text-align: center;
  width: 20px;
  font-size: 11px;
}

.body {
  text-align: center;
}

.pts {
  color: white;
  text-align: center;
  font-size: 11px;
}

.estadistica {
  text-align: center;
  font-size: 11px;
}
.estadistica2 {
  text-align: start;
  font-size: 11px;
}
.escudo {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
