<ion-header>
  <ion-toolbar>
    <ion-title> Liga </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center"><h4>Liga</h4></ion-text>

  <ion-grid>
    <ion-row>
      <ion-col class="pos">POS</ion-col>
      <ion-col class="estadistica">EQUIPO</ion-col>
      <ion-col class="pts">PTS</ion-col>
      <ion-col class="estadistica">DIFF</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pos">1</ion-col>
      <ion-col class="estadistica2"
        ><img src="../../../assets/images/logo.png" class="escudo" alt=""
      /></ion-col>
      <ion-col class="pts">2</ion-col>
      <ion-col class="estadistica2">2</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pos">2</ion-col>
      <ion-col class="estadistica2"
        ><img src="../../../assets/images/logo.png" class="escudo" alt=""
      /></ion-col>
      <ion-col class="pts">2</ion-col>
      <ion-col class="estadistica2">2</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
