<ion-header>
  <ion-toolbar>
    <ion-title> Liga </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center"><h4>Liga</h4></ion-text>

  <ion-grid>
    <ion-row>
      <ion-col size="1" class="pos"
        ><ion-text color="medium">#</ion-text>
      </ion-col>
      <ion-col size="7" class="estadistica2"
        ><ion-text color="medium">EQUIPO</ion-text></ion-col
      >
      <ion-col size="1" class="estadistica"
        ><ion-text color="medium">P</ion-text></ion-col
      >
      <ion-col size="2" class="estadistica"
        ><ion-text color="medium">DIFF</ion-text></ion-col
      >
      <ion-col size="1" class="pts"
        ><ion-text color="medium">PTS</ion-text></ion-col
      >
    </ion-row>
    <ion-row>
      <ion-col size="1" class="pos ion-margin-top">1</ion-col>
      <ion-col size="7" class="estadistica2">
        <ion-row class="ion-justify-content-start">
          <ion-col size="3">
            <div>
              <img
                src="../../../assets/images/logo.png"
                class="escudo"
                alt=""
              />
            </div>
          </ion-col>
          <ion-col class="ion-margin-top" size="9">
            <div>Los Alces FC</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1" class="pts ion-margin-top">2</ion-col>
      <ion-col size="2" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1" class="estadistica2 ion-margin-top">2</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1" class="pos ion-margin-top">1</ion-col>
      <ion-col size="7" class="estadistica2">
        <ion-row class="ion-justify-content-start">
          <ion-col size="3">
            <div>
              <img
                src="../../../assets/images/logo.png"
                class="escudo"
                alt=""
              />
            </div>
          </ion-col>
          <ion-col class="ion-margin-top" size="9">
            <div>Los Alces FC</div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="1" class="pts ion-margin-top">2</ion-col>
      <ion-col size="2" class="pts ion-margin-top">2</ion-col>
      <ion-col size="1" class="estadistica2 ion-margin-top">2</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
