<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ficha jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-list class="ion-text-center">
    <ion-item lines="none" class="ion-margin">
      <ion-label>
        <img
          [alt]="info.jugador.usuario.nombre"
          [src]="
            'https://serveralces-production.up.railway.app/imagen/' +
            info.jugador.usuario.fotografia
          "
          class="foto"
        />
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >{{ info.jugador.usuario.nombre }}
        {{ info.jugador.usuario.apellido }}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label>{{ info.jugador.posicion }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ info.jugador.sueldo | currency : "CLP" }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >{{ info.jugador.equipo_anterior }}
        {{ info.jugador.usuario.nacionalidad }}</ion-label
      >
    </ion-item>
    <div class="negro">
      <ion-label>
        <img src="/assets/icon/balon.svg" class="icono" alt="" />
        {{ info.goles }}
        <img src="/assets/icon/asistencias.svg" class="icono" alt="" />
        {{ info.asistencias }}
        <img src="/assets/icon/tarjetaamarilla.svg" class="icono" alt="" />
        {{ info.tarjetasAmarillas
        }}<img src="/assets/icon/tarjetaroja.svg" class="icono" alt="" />
        {{ info.tarjetasRojas }}
        <img src="/assets/icon/partidosjugados.svg" alt="" class="icono" />
        {{ info.partidos }}
      </ion-label>
    </div>
  </ion-list>
</ion-content>
