<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ficha jugador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!loading">
  <ion-list class="ion-text-center">
    <ion-item>
      <ion-label
        >{{ info.jugador.usuario.nombre }}
        {{ info.jugador.usuario.apellido }}</ion-label
      >
    </ion-item>
    <ion-item>
      <ion-label>{{ info.jugador.posicion }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{ info.jugador.sueldo | currency : "CLP" }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label
        >{{ info.jugador.equipo_anterior }}
        {{ info.jugador.usuario.nacionalidad }}</ion-label
      >
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <img
          [alt]="info.jugador.usuario.nombre"
          [src]="
            'http://localhost:3001/imagen/' + info.jugador.usuario.fotografia
          "
        />
      </ion-label>
    </ion-item>
    <ion-label>
      G: {{ info.goles }}, A: {{ info.asistencias }}, TA:
      {{ info.tarjetasAmarillas }}, TR: {{ info.tarjetasRojas }}, P:
      {{ info.partidos }}
    </ion-label>
  </ion-list>
</ion-content>
