ion-content {
    --background: #dccab0;
    --background: linear-gradient(to bottom, #a77d4d, #dccab0);
  }
  ion-item {
    --ion-item-background:#015f0100;
    border-color: rgba(0, 0, 0, 0);
	  background-color: rgba(0, 0, 0, 0);
	  color: white; 
  }
  ion-list{
    border-color: rgba(0, 0, 0, 0);
	  background-color: rgba(0, 0, 0, 0);
	  color: white; 
  }
.foto{
    border-radius: 10%;
}
.icono{
  width: 5vw;
}

.negro{
  background-color: #222428;
  padding: 5vw;
  width: 80vw;
  margin: 10vw;
  border-radius: 5vw;
}