<ion-content>
  <div class="header">
    <img
    src="../../../assets/images/logo.png"
    class="logo"
    alt=""
  />
  </div>
  <div class="div-inicio">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" class="ion-text-center">Correo electrónico</ion-label>
          
          <ion-input type="email"><ion-icon name="mail" class="input-icon"></ion-icon></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" class="ion-text-center">Contraseña</ion-label>

          <ion-input type="password"><ion-icon name="lock-closed"></ion-icon></ion-input>
        </ion-item>
        <ion-button expand="block" color="dark" (click)="iniciarSesion()"> Iniciar sesión</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>