
ion-content {
  --background: #dccab0;
  --background: linear-gradient(to bottom, #a77d4d, #dccab0);
}
.perfil{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
  object-position: 25% 25%; 
  margin-top: auto;
  margin-bottom: auto;
}
ion-card{
  --background: #00000000;
  height: 25vh;
}
.icono{
  height: 15vh;
}
.iconoLiga{
  height: 20vh;
}
img{
  margin-top: 3vh;
}
.centrado{
  align-items: center;
  display: flex;
}
h1{
  text-align: center;
}
ion-card-title{
  font-weight: 700;
}

.logout{
  width: 10vw;
  margin-top: auto;
  margin-bottom: auto;
  
}